body {
    font-family: "Poppins", sans-serif;
    background-color: #121212;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-height: 90vh;
    overflow-y: auto;
}

h1 {
    color: #cf1624;
    text-align: center;
    margin-bottom: 20px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#searchBar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #292929;
    color: #f7f7f7;
    flex: 1;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #cf1624;
    color: #fff;
    transition: background-color 0.3s ease;
}
#addAppBtn{
    margin-left: 10px;
}
#addFolderBtn{
    background-color: #00008b;
    transition: 0.3s;
}

#addFolderBtn:hover{
    background-color: #211ec7;
}

button:hover {
    background-color: #dd3745;
}

button + button {
    margin-left: 10px;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.app-item {
    background: #292929;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.app-item:hover {
    background-color: #373737;
}

.icon-container {
    position: relative;
    display: inline-block;
}

.app-icon {
    max-width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}

.icon-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.icon-container:hover .icon-overlay {
    opacity: 1;
}

.pencil-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.app-name-edit {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.app-name-edit:hover {
    background-color: #373737;
}

.app-name-input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #292929;
    color: #f7f7f7;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

button.app-open,
button.app-remove {
    margin: 0;
}